<!DOCTYPE html>
<html>
<head>
    <title>Echarts3模块化包引入源码-入门</title>
    <meta charset="utf-8" content="text/html">
</head>
<style>
    html,body{
        width:100%;
    }
</style>
<body id="vueMain">
<!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
<span v-show="isEdit">
<div id="main" style="width: 50%;height:400px;"></div>
    </span>
<span v-show="!isEdit">
<div id="chart1" style="height:100%;"></div>
</span>
</body>
<script src="/require.js"></script>
<script src="/main.js"></script>
<script src="/work/echartbar.js"></script>

</html>