<!DOCTYPE html>
<html>
<head>
    <title>Echarts3</title>
    <meta charset="utf-8" content="text/html">    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<style >
    html body{
        width:100%;

    }
</style>
<body>
<div class="container" style="padding-right: 30px;">
    <div class="row" style="overflow-y:auto; overflow-x:auto;">
        <div id="main" class="col-md-6 col-lg-6" style="height:500px;"></div>
        <div id="chart1" class="col-md-6 col-lg-6" style="height:500px"></div>
    </div>
</div>

</body>

<script src="/require.js"></script>
<script src="/main.js"></script>
<script src="/work/index.js">


</script>
</html>