<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/jstree/themes/default/style.min.css" rel="stylesheet">

</head>

<body>
<div id="jstree_demo"></div>
<div id="jstree_demo1"></div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="/js/jstree/jstree.min.js"></script>
<script>
        $('#jstree_demo').jstree({
            "core" : {
                "animation" : 0,
                "check_callback" : true,
                "themes" : { "stripes" : true },
                'data' : {
                    'url' : function (node) {
                        return node.id === '#' ?
                                '/ajax_demo_roots.json' : '/ajax_demo_children.json';
                    },
                    'data' : function (node) {
                        console.log(node);
                        return { 'id' : node.id };
                    }
                }
            },
            "types" : {
                "#" : {
                    "max_children" : 1,
                    "max_depth" : 4,
                    "valid_children" : ["root"]
                },
                "root" : {
                    "icon" : "/img/tree_icon.png",
                    "valid_children" : ["default"]
                },
                "default" : {
                    "valid_children" : ["default","file"]
                },
                "file" : {
                    "icon" : "glyphicon glyphicon-file",
                    "valid_children" : []
                }
            },
            "plugins" : [
                "contextmenu", "dnd", "search",
                "state", "types", "wholerow"
            ]
        });
    // ajax demo
    $('#jstree_demo1').jstree({
        'core': {
            "animation" : 0,
            "check_callback" : true,
            "themes" : { "stripes" : true },
            'data': {
                "url": function (node) {
                    return node.id === '#' ?
                            '/data.json' : '/more.json';
                },
                "dataType": "json", // needed only if you do not supply JSON headers
                "data": function (node) {
                    console.log(node.id);
                    return {"id" : node.id};
                }
            }
        },
        "checkbox" : {
            "keep_selected_style" : false
        },
        "types" : {
            "#" : {
                "max_children" : 1,
                "max_depth" : 4,
                "valid_children" : ["root"]
            },
            "root" : {
                "icon" : "/img/tree_icon.png",
                "valid_children" : ["default"]
            },
            "default" : {
                "valid_children" : ["default","file"]
            },
            "file" : {
                "icon" : "glyphicon glyphicon-file",
                "valid_children" : []
            }
        },
        "plugins" : [
            "contextmenu", "dnd", "search",
            "state", "types", "wholerow"
        ]
        //
 }).bind("before_open.jstree",function (node) {
        console.log(node);
    });
</script>
</html>